@import "tailwindcss";

:root {
  --background: #0B0B0B;
  --foreground: #D0D0D0;
  --primary: #00EEFF;
  --primary-2: #00AAFF;
  --primary-3: #0059FF;
  --info: #FFC400;
  --warn: #FF0077;
  --success: #00FF44;
  --accent: #6C6C6C;

  --gradient-L: #1A1A21;
  --gradient-R: #0E0E10;

  --shadow-base: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --inset-shadow-base: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@layer base {
  body {
    letter-spacing: -0.07em;
  }
}

@layer utilities {
  .bg-account {
    background-image: url('/public/account.png');
  }
  .bg-analyze {
    background-image: url('/public/analyze.png');
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-info: var(--info);
  --color-warn: var(--warn);
  --color-success: var(--success);
  --color-accent: var(--accent);
  --color-gradient-L: var(--gradient-L);
  --color-gradient-R: var(--gradient-R);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-base: var(--shadow-base);
  --inset-shadow-base: var(--inset-shadow-base);

  --bg-analyze: url('/public/analyze.png');

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter Semi Bold", Inter, Arial, Helvetica, sans-serif;
}
